@{
    ViewBag.Title = "prezek.org";
}
<div class="row-fluid">
    <div class="span4">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Поиск избирательного участка</li>
                <li>
                    <form class="form-search" action="">
                    <input id="search_field" type="text" class="search-query span8" placeholder="улица, дом"/>
                    <a id="search_button" href="#" class="btn btn-primary" style="margin-left: 10px;
                        margin-top: 3px;"><i class="icon-search icon-white"></i>Поиск</a>
                    </form>
                </li>
                <li id="loading" style="display: none">
                    <div class="alert alert-info">
                        <img src="/Content/images/spinner.gif" alt />
                        Загрузка
                    </div>
                </li>
                <!-- ko if: matchType() == 'not_found' -->
                <li>
                    <p>
                        По вашему запросу соответствий не найдено.</p>
                </li>
                <!-- /ko -->
                <!-- ko if: matchType() == 'geo' -->
                <li>
                    <p>
                        По вашему запросу соответствий не найдено, показан ближайший к вам избирательный
                        участок.</p>
                </li>
                <!-- /ko -->
                <!-- ko if: id -->
                <li>
                    <div class="row-fluent">
                        <a class="btn btn-small btn-info" href="#" data-bind="toggle : similarToggle, toggleOpts : {layout : 'similar_layout'}">
                            <i class="icon-folder-close icon-white"></i>Похожие</a> <a class="btn btn-small btn-info"
                                href="#" data-bind="toggle : nearToggle, toggleOpts : {layout : 'near_layout'}">
                                <i class="icon-folder-close icon-white"></i>Рядом</a></div>
                </li>
                <li class="nav-header toggle_layout similar_layout">Похожие аддресса</li>
                <li class="toggle_layout similar_layout">
                    <table class="table table-striped table-condensed" data-bind="template: {name: 'addr-ref-template', foreach: similar}">
                    </table>
                </li>
                <li class="nav-header toggle_layout near_layout">Участки рядом</li>
                <li class="toggle_layout near_layout">
                    <table class="table table-striped table-condensed" data-bind="template: {name: 'addr-list-template', foreach: near}">
                    </table>
                </li>
                <li class="nav-header">Ваш избирательный участок &nbsp;&nbsp;<span data-bind="text: id"
                    class="label label-success"></span><span data-bind="template: {name: 'twins-template', foreach: twins}"></span></li>
                <li data-bind="template: {name: 'addr-template', data: station}"></li>
                <li class="nav-header">Ваш УИК</li>
                <li data-bind="template: {name: 'addr-template', data: uik}"></li>
                <li class="nav-header">Аддресса приписки участка</li>
                <li>
                    <table class="table table-striped table-condensed" data-bind="template: {name: 'line-template', foreach: boundary}">
                    </table>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <!--/.well -->
        <script type="text/html" id="addr-template">
            <div class="row-fluid">
                <table class="table table-striped table-condensed">
                <tr><td>Аддресс</td><td data-bind="text: addr"></td></tr>
                <tr><td>Телефон</td><td data-bind="text: phone"></td></tr>
                <tr><td>Организация</td><td data-bind="text: org"></td></tr>
                <tr data-bind="visible : aux"><td>Дополнительно</td><td data-bind="text: aux"></td></tr>
                </table>
            </div>
        </script>
        <script type="text/html" id="line-template">
                <tr><td data-bind="text : addr"></td></tr>
        </script>
        <script type="text/html" id="addr-ref-template">
                <tr class="pointer" data-bind="click: $root.showStation">
                    <td>
                        <span data-bind="text: id" class="label label-success"></span>
                    </td>
                    <td>
                    {{each lines}}
                        <p data-bind="text: addr"></p>
                    {{/each}}
                    </td>
                </tr>
        </script>
        <script type="text/html" id="addr-list-template">
                <tr class="pointer" data-bind="click: $root.showStation">
                    <td>
                        <span data-bind="text: id" class="label label-success"></span>
                    </td>
                    <td data-bind="text: descr">
                    </td>
                </tr>
        </script>
        <script type="text/html" id="twins-template">
                &nbsp;<span data-bind="click: $root.showStation, text: id" class="label pointer"></span>
        </script>
    </div>
    <!--/span-->
    <div class="span8">
        <div class="hero-unit" style="padding: 10px;">
            <h2>@ViewBag.Message</h2>
            <div id="map" style="width: 100%; height: 500px">
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
