<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="Debug"/>
    <add key="MongoConnectionString" value="mongodb://user:password123@ds031117.mongolab.com:31117/prezek"/>
    <add key="GoogleAPIKey" value="AIzaSyBZF_jfqQ0HjXaEWsNCXkpzTSVpxvPKulY"/>
    <add key="YMapAPIKey" value="ABDoSU8BAAAA7r0cEwIAoAjABZ4UG7VesqXhO4IeaV4lb-oAAAAAAAAAAACm9LnTLUThCEaQsLR2Hwh9NPxxUw=="/>
  </appSettings>
  <enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="localhost" port="11211" />
      </servers>
      <authentication
       type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching"
           userName="user"
           password="useruser"
            />
    </memcached>
  </enyim.com>
</configuration>