<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="Debug"/>
    <add key="MongoConnectionString" value="mongodb://user:user@ds029787.mongolab.com:29787/sx_election2012"/>
    <add key="GoogleAPIKey" value="AIzaSyDPSsQMa98n7ZU1WMqpGY3tGJrNcvRmFR0"/>
    <add key="YMapAPIKey" value="AKwdQU8BAAAACm-NDAMAWMlD6pwLwoIhPTi9vJdXFzfcWWQAAAAAAAAAAAB4IQkyVtJMKLYHmlbwqYkby15koA=="/>
  </appSettings>
  <enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="localhost" port="11211" />
      </servers>
      <authentication
       type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching"
           userName="user"
           password="useruser"
            />
    </memcached>
  </enyim.com>
</configuration>